* { box-sizing: border-box; font-family: Avenir; }
div#profile-container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
div#profile-container figure { 
  display: inline-block;
  }
div#profile-container figure div {
  border-radius: 50%;
  overflow: hidden; 
  background-blend-mode: luminosity;
  border: 5px solid #000;
  width: 14rem; height: 14rem;
  -webkit-transition: .4s linear;
          transition: .4s linear;
}
div#profile-container figure div:hover { 
  border: 8px solid #000;
  background-color: transparent;
}
div#profile-container figcaption { 
  margin-top: 1rem;
  text-align: center; 
}
.anna {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/profile1.jpg) no-repeat center 
    hsl(200,50%,50%);
  background-size: cover;
}
.frederick { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/profile2.jpg) no-repeat center 
    hsl(200,50%,50%); 
  background-size: cover;
}
.sophie { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/profile3.jpg) no-repeat center 
    hsl(200,50%,50%); 
  background-size: cover;
}
.sophie { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/profile3.jpg) no-repeat center 
    hsl(200,50%,50%); 
  background-size: cover;
}